{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section style="margin-top:50px">
	<div class="hero-unit">
		<h1>Declaraciones Juradas</h1>
		<legend> Con Instrumento de Pago </legend>
	</div>
  <section class="row-fluid"></section>
	<section class="row-fluid">
		 <div class="well well-small">
            <h3>DDJJ No Pagas Con Instrumento de Pago</h3>	
				<table id="ddjjcondocu" class="table">
				  <thead>
					<tr>
					  <th>A&ntilde;o</th>
					  <th>Mes</th>
					  <th>Total </th>
					  <th>Instr. Pago  <a href="docs/instrumento_especificaciones.pdf" onClick="window.open(this.href,'Info','resizable=YES, Scrollbars=YES', width=800,height=600, top=150, left=100); return false"><i title="Info" class="icon-info-sign icon-black"></i></a> </th>
					  <th>Acciones</th>
					</tr>
				  </thead>
				   <tbody>					
					{% for ddjjcdocu in ddjjcondocu %}
						<tr>
						  <td>{{ ddjjcdocu.perano }}</td>
						  <td>{{ ddjjcdocu.permes }}</td>
						  <td>{{ ddjjcdocu.totapo }}</td>
						  <td>{{ ddjjcdocu.instrumento }}-{{ ddjjcdocu.nroinstrumento }}</td>
						  <td>
						 	<a href="imprimirDDJJ.php?control={{ddjjcdocu.control}}&tipo=condocu" onclick="window.open(this.href,'Info','resizable=YES, Scrollbars=YES', width=800,height=600, top=150, left=100); return false"><i title="Imprimir DDJJ" class="icon-print icon-black icon-2x"></i></a>
						  	{% if ddjjcdocu.instrumento == 'T' %}		
						  		<a href="mostrarTicket.php?ref={{ddjjcdocu.nroinstrumento}}"><i title="Ticket Link Pagos" class="icon-credit-card icon-black icon-2x"></i></a>
						  	{% endif %}	
						  </td>
						</tr>
					{% endfor %}
				   </tbody>	
				</table>  
         </div>
	</section>
</section>

{% endblock %}

{% block javaScripts %}
<script type="text/javascript">
function verDDJJ(control, tipo){
	urlDdjj = "imprimirDDJJ.php?control="+control+"&tipo="+tipo;
	window.showModalDialog(urlDdjj,"",'dialogHeight:600px;dialogWidth:850px;center:Yes;help:No;resizable:Yes;status:No;');
}
</script>	
{% endblock %}