<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>U.S.I.M.R.A.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Aplicativo DDJJ Online" />
    <meta name="author" content="USIMRA-Depto de Sistemas" />
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">   
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/default_layout.css">

	{% block cssPropios %} {% endblock %}
    
    <script type="text/javascript" src="lib/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap/bootstrap.min.js"></script>
	
	{% block javaScripts %} {% endblock %}
  </head>
<body>
	{% block ventanaClave %} {% endblock %}
	{% block ventanaEmpresa %} {% endblock %}

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
        		<div class="brand"> <a class="brand" href="index.php">Aplicativo DDJJ Online</a></div>
				<div class="nav-collapse collapse">
					{% block barraNavegacion %} {% endblock %}
					{% block loginUsuario %} {% endblock %}
				</div>
			</div>
		</div>
	</div>
	<div id="cargaContenido" class="container">
		{% block contenidos %}
		<section style="margin-top:50px">
			<div class="hero-unit">
				<h1>Bienvenidos</h1>
				<p>Herramienta en línea de U.S.I.M.R.A. para la generación de Declaraciones Juradas y Boletas de Pago de las Resoluciones de Seguro de Vida y Sepelio. </p>
			</div>
		</section>
		<section class="row-fluid">
          <div class="span6 well well-small">
            <h2>Instructivos</h2>
            <p>Aquí encontrará el instructivo de uso general que lo guiará paso a paso en las funciones operativas del aplicativo, en lenguaje coloquial y sin tecnicismos. </p>
            <p><a class="btn btn-primary" href="docs/manual_aplicativo_ddjj.pdf" onClick="window.open(this.href,'Instructivo','resizable=YES, Scrollbars=YES', width=800,height=600, top=100, left=100); return false"><i class="icon-book icon-large"></i> Aplicativo General &raquo;</a></p>
			<hr>
			<h2>Módulo Grandes Empresas</h2>
			<div class="span6 well well-small" style="margin-left: 0px">
				<p>Aquí encontrará el instructivo de uso para el módulo de grandes empresas, una guía paso a paso para su uso, en lenguaje coloquial.</p>
				<p><a class="btn btn-primary" href="docs/instrucGrandes.pdf" onClick="window.open(this.href,'Instructivo','resizable=YES, Scrollbars=YES', width=800,height=600, top=150, left=100); return false"><i class="icon-book icon-large"></i> Modulo Grandes Empresas</a></p>
          	</div>
          	<div class="span6 well well-small">
          		<p>Para nominar los archivos de DDJJ a importar deberá considerar la siguiente tabla para identificar el mes del periodo a declarar</p>
          		<p><a class="btn btn-primary" href="docs/periodos.pdf" onClick="window.open(this.href,'Instructivo','resizable=YES, Scrollbars=YES', width=800,height=600, top=150, left=100); return false"><i class="icon-book icon-large"></i> Tabla Codificadora de Periodos para Modulo Grandes Empresas</a></p>
          	</div>
          </div>
          <div class="span6 well well-small">
            <h2>Noticias</h2>
            <hr>
            	<h4> <font color="blue">Nueva Funcionalidad -</font> Ahora podes realizar tus pagos a través de <img width="40px" src="img/linkpagos.png"/></h4>
            <hr>
            {% for noticia in noticias %}
				<p>{{ noticia.fechaalta}} - {{ noticia.descripcioncorta}}
				{% if noticia.descripcionlarga != "" %}
            		<a href="#"><i title="Leer mas" onClick="window.open('noticia.php?id={{noticia.id}}','Noticias','resizable=NO, Scrollbars=YES', width=800,height=600, top=150, left=100)" class="icon-info icon-large"></i> </a>
				{% endif %}
				</p>		
			{% endfor %}
			{% if login %}
				<a class="btn btn-info" href="noticiasTodas.php"><i class="icon-info icon-large"></i> Ver Todas &raquo;</a>
			{% endif %}
         </div>
        </section>
		{% endblock %}
		{% block footer %}
    	<hr>
	    <footer>
			<p>U.S.I.M.R.A. - Todos los Derechos Reservados | &copy; 2007 </p>
	    </footer>
		{% endblock %}
	</div>
</body>
</html>