{% extends 'default.html'%}
{% block contenidos %}
<section class="container" style="margin-top:50px">
  <div class="hero-unit">
		<h1>Bienvenidos</h1>
		<p>Herramienta en linea de U.S.I.M.R.A. para la generacion de Declaraciones Juradas y Boletas de Pago de las Resoluciones de Seguro de Vida y Sepelio. </p>
	</div>
  <div class="hero-unit">
	  <h1 style="color:#0000FF">Fuera de Servicio </h1>
	  <h2>Estamos realizando trabajos en el sistema. </h2>
	  <h2>Disculpe las molestias ocasionadas. </h2>
	  <h2>El sistema estar&aacute; disponible a la brevedad </h2>
  </div>
</section>
{% endblock %}