{% extends 'default.html'%}

{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
		<section class="container">
			<div class="hero-unit">
				<h1>Bienvenidos</h1>
				<p>Herramienta en línea de U.S.I.M.R.A. para la generación de Declaraciones Juradas y Boletas de Pago de las Resoluciones de Seguro de Vida y Sepelio. </p>
			</div>
		</section>
		<section class="container">
			<div>
			</div>
		</section>
		<section class="row-fluid">
          <div class="span6 well well-small">
            <h2>Instructivo</h2>
            <p>Aca contamos que se puede descargar el instructivo que explica paso a paso en lenguaje coloquial. </p>
            <p><a class="btn btn-success" href="docs/manual_aplicativo_ddjj.pdf">Descargar &raquo;</a></p>
          </div>
          <div class="span6 well well-small">
            <h2>Noticias</h2>
            <p>Aca van las noticias principales y boton es un link a leer mas. </p>
            <p><a class="btn btn-inverse" href="#">Leer Mas &raquo;</a></p>
         </div>
        </section>
{% endblock %}