{% extends 'default.html'%}

{% block loginUsuario %}
<ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white icon-2x"></i> Login <i class="icon-caret-down"></i></a>
			<ul class="dropdown-menu login-form">
				<li>
					<form method="post" action="" id="formLogin" name="formLogin">
						<fieldset id="datosAcceso">
							<label class="control-label usuario" for="usuario-cuit">Usuario</label>
							<span></span>
							<input type="text" id="usuario-cuit" name="usuario-cuit" required placeholder="C.U.I.T. sin guiones" class="{required:true, number:true, rangelength: [11,11]}"/>
							<label class="control-label usuario" for="usuario-clave">Contrase&ntilde;a</label>
							<span></span>
							<input type="password" id="usuario-clave" name="usuario-clave" required class="{required:true, maxlength:10}"/>
						</fieldset>
						<fieldset id="animacionAjax" style="text-align:center">
							<img alt="" src="img/loader.gif" id="ajaxGif" class="hide" />
							<div class="alert alert-error font-small hide" id="loginError"><strong>Usuario o Clave Incorrectos</strong></div>
						</fieldset>
						<fieldset id="botonera" style="text-align:center;">
						<button class="btn btn-mini btn-info" type="submit" id="botonLogin">Ingresar</button>
						</fieldset>
						<div class="divider"></div>
						<a href="" class="btn btn-link" id="altaEmpresa">Registrase Como Nuevo Usuario</a><br/>
						<div class="divider"></div>
						<a href="" class="btn btn-link" id="accesoClave">&iquest;Olvido su contrase&ntilde;a?</a><br/>
					</form>
				</li>
			</ul>
	</li>
</ul>
{% endblock %}

{% block ventanaClave %}
<div id="recuperaClave" title="Recuperaci&oacute;n de contrase&ntilde;a" class="hide">
	<p>Para recuperar la contrase&ntilde;a son necesarios el CUIT y el correo electr&oacute;nico que ingreso al registrarse como nuevo usuario.</p>
	<form id="formClave" name="formClave">
		<fieldset id="datosClave">
			<label for="clave_cuit">Usuario</label>
			<span></span>
			<input type="text" id="clave_cuit" name="clave_cuit" required placeholder="C.U.I.T. sin guiones" class="{required:true, number:true, rangelength: [11,11]}  span2"/>
			<label for="clave_correo">Correo Electr&oacute;nico </label>
			<span></span>
			<input type="text" id="clave_correo" name="clave_correo" required class="{required:true, email:true, maxlength:60} span3"/>
		</fieldset>
		<fieldset id="animacionAjaxClave" style="text-align:center;">
			<img src="img/loader.gif" alt="" name="ajaxGifClave" class="hide" id="ajaxGifClave">
			<div class="alert alert-error font-small hide" id="claveMensaje"><strong><span id="txtClaveMensaje"></span></strong></div>
		</fieldset>
			<fieldset id="botoneraClave" class="small-padding" style="text-align:center;">
				<button class="btn btn-small btn-primary" type="submit" id="botonClave">Enviar</button>
			</fieldset>
	</form>
</div>
{% endblock %}

{% block ventanaEmpresa %}
<div id="registroEmpresa" title="Registro de Nueva Empresa" class="hide">
	<form id="formEmpresa" name="formEmpresa" class="form-inline">
		<fieldset id="datosEmpresa">
			<span></span>
			<input type="text" id="cuit" name="cuit" required placeholder="C.U.I.T. sin guiones" class="span2" style="margin:10px"/>
			<span></span>
			<input type="text" id="nombre" name="nombre" required placeholder="Raz&oacute;n Social" class="{required:true, maxlength: 100, minlength: 4} span7" style="margin:10px"/>
			<span></span>
			<input type="text" id="domicilio" name="domicilio" required placeholder="Domicilio" class="{required:true, maxlength: 50, minlength: 4} span5" style="margin:10px"/>
			<span></span>
			<input type="text" id="localidad" name="localidad" required placeholder="Localidad" class="{required:true, maxlength: 50, minlength: 4} span4" style="margin:10px"/>
			<span></span>
			<select id="provincia" name="provincia" required class="{required:true} span4" style="margin:10px">	
			</select>
			<span></span>
			<input type="text" id="codpostal" name="codpostal" required placeholder="C&oacute;digo Postal" class="{required:true, maxlength: 8, minlength: 4} span2" style="margin:10px"/>
			<span></span>
			<input type="text" id="telefono" name="telefono" required placeholder="Tel&eacute;fono" class="{required:true, number: true, maxlength: 14, minlength: 6} span3" style="margin:10px"/>
			<span></span>
			<input type="text" id="email" name="email" required placeholder="Correo Electr&oacute;nico" class="{required:true, email:true, maxlength: 60} span5" style="margin:10px"/>
			<span></span>
			<select id="actividad" name="actividad" required class="{required:true} span4" style="margin:10px">	
			</select>
			<span></span>
			<select id="rama" name="rama" required class="{required:true} span8" style="margin:10px">	
			</select>
			<span></span>
			<input type="text" id="inicio" name="inicio" placeholder="Inicio Actividad (DD/MM/AAAA)" class="span3" style="margin:10px"/>
			<span></span>
			<input type="text" id="clave" name="clave" required placeholder="Contrase&ntilde;a" class="{required:true, maxlength: 10, minlength: 8} span2" style="margin:10px"/>
		</fieldset>
		<fieldset id="animacionAjaxEmpresa" style="text-align:center;">
			<img src="img/loader.gif" alt="" name="ajaxGifEmpresa" class="hide" id="ajaxGifEmpresa">
			<div class="alert alert-error font-small hide" id="empreMensaje"><strong><span id="txtEmpreMensaje"></span></strong></div>
		</fieldset>
		<fieldset id="botoneraEmpresa" class="small-padding" style="text-align:center;">
			<button class="btn btn-small btn-primary" type="submit" id="botonEmpresa">Registrar</button>
		</fieldset>
	</form>
</div>
{% endblock %}

{% block cssPropios %}
<link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.2.custom.min.css">
{% endblock %}

{% block javaScripts %}
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
	<script type="text/javascript" src="lib/js/jquery/jquery-ui-1.9.2.custom.min.js" ></script>
	<script type="text/javascript" src="lib/js/funcionControl.js"></script>
	<script type="text/javascript">
		$.validator.addMethod("escuitvalido", verificaCuil);
		$.validator.addMethod("esfechavalida", esFechaValida);
		$.validator.addMethod("esfechapasada", esFechaPasada);
		$(function(){
			//Valido el formulario de Login
			$('#formLogin').validate({
				submitHandler: function(){
					var strForm = $('#formLogin').serialize();
					// ajax para ejecutar el login de usuario
					$.ajax({
						beforeSend: function(){
							// Verifico si el mensaje de error esta visible
			                if($('#loginError').is(':visible')){
			                   $('#loginError').addClass('hide');
            			    }
							$('#ajaxGif').removeClass('hide');
						},
						cache: false,
						type: "POST",
						dataType: "json",
						url:"respuestasApp.php",
						data:strForm + "&accion=login&id=" + Math.random(),
						success: function(response){
							//Controlo errores
							if(response.respuesta == true) {
				                window.location.href='index.php';
							} else {
								$('#loginError').removeClass('hide');
							}
							$('#ajaxGif').addClass('hide');
						},
						error: function(){
							alert("Error del Sistema, intentelo mas tarde.");
							$('#ajaxGif').addClass('hide');
						}
					});
					return false;
				},
				errorPlacement: function(error, element){
					error.appendTo(element.prev("span").append());
				}
			});

			// Ventana modal para recuperacion de contraseña
			$('#recuperaClave').dialog({
				autoOpen:false,
				modal:true,
				width:350,
				minHeight: 'auto',
				close:function(){
					$('#formClave')[0].reset();
					$('#claveMensaje').addClass('hide');
				}
			});

			// Ventana modal para registro de nueva empresa
			$('#registroEmpresa').dialog({
				autoOpen:false,
				modal:true,
				position: { my: "center center", at: "center center", of: window },
				width:925,
				height:500,
				resizable:false,
				close:function(){
					$('#formEmpresa')[0].reset();
					$('#empreMensaje').addClass('hide');
				}
			});

			// Activo la ventana con el formulario de recuperacion de contraseña
			$('body').on('click','#accesoClave',function(elemento) {
				elemento.preventDefault();
				$('#recuperaClave').dialog('open');
			});

			// Activo la ventana con el formulario de registro de nueva empresa
			$('body').on('click','#altaEmpresa',function(elemento) {
				elemento.preventDefault();
				$('#registroEmpresa').dialog('open');
			});

			//Valido el formulario de recuperacion de contraseña
			$('#formClave').validate({
				submitHandler: function() {
					var formClave = $('#formClave').serialize();
					// ajax para ejecutar la recuperación de contraseña
					$.ajax({
						beforeSend: function(){
							// Verificamos si hay mensaje de error visible
							if($('#claveMensaje').is(':visible')) {
								$('#claveMensaje').addClass('hide');
							}
							$('#ajaxGifClave').removeClass('hide');
						},
						cache: false,
						type: "POST",
						dataType: "json",
						url:"respuestasApp.php",
						data:formClave + "&accion=recuperaClave&id=" + Math.random(),
						success: function(response) {
							//Controlo errores
							if(response.respuesta == true) {
								var mensaje = 'La consulta se ha realizado exitosamente. En instantes recibira su contrase&ntilde;a por correo electr&oacute;nico.';
								$('#txtClaveMensaje').html(mensaje);
								$('#claveMensaje').removeClass('alert-error');
								$('#claveMensaje').addClass('alert-success');
								$('#claveMensaje').removeClass('hide');
        			        } else {
								var mensaje = 'Usuario o Correo Electr&oacute;nico incorrectos, verifique los datos e intente de nuevo por favor.';
								$('#txtClaveMensaje').html(mensaje);
								$('#claveMensaje').removeClass('alert-success');
								$('#claveMensaje').addClass('alert-error');
								$('#claveMensaje').removeClass('hide');
							}
							$('#ajaxGifClave').addClass('hide');
						},
						error:function() {
							alert('Error del Sistema, intentelo mas tarde.');
							$('#ajaxGifClave').addClass('hide');
						}
					});
					return false;
				},
				errorPlacement: function(error, element){
					error.appendTo(element.prev("span").append());
				}
			});

			var provAjax = $.get("selectProvincias.php");
			provAjax.success(function(provincias){
				$("#provincia").html(provincias);
			});

			var ramaAjax = $.get("selectRamas.php");
			ramaAjax.success(function(ramas){
				$("#rama").html(ramas);
			});

			var actiAjax = $.get("selectActividades.php");
			actiAjax.success(function(actividades){
				$("#actividad").html(actividades);
			});


			//Valido el formulario de registro de nueva empresa
			$('#formEmpresa').validate({
				rules: {
					cuit: { escuitvalido: true, required: true, number: true, rangelength: [11,11]},
            		inicio: { esfechavalida: true, required: true,  esfechapasada: true}
        		},
				messages: {
					cuit: 'Introduzca un C.U.I.T. valido',
            		inicio: 'Introduzca una fecha valida y no futura'
        		},
				submitHandler: function(){
					var formEmpresa = $('#formEmpresa').serialize();
					// ajax para ejecutar el registro de nueva empresa
					$.ajax({
						beforeSend: function(){
							// Verificamos si hay mensaje de error visible
							if($('#empreMensaje').is(':visible')) {
								$('#empreMensaje').addClass('hide');
							}
							$('#ajaxGifEmpresa').removeClass('hide');
						},
						cache: false,
						type: "POST",
						dataType: "json",
						url:"respuestasApp.php",
						data:formEmpresa + "&accion=altaEmpresa&id=" + Math.random(),
						success: function(response) {
							//Controlo errores
							if(response.respuesta == true) {
								var mensaje = 'El registro ha sido exitoso. Ya puede ingresar desde la secci&oacute;n Login.';
								$('#txtEmpreMensaje').html(mensaje);
								$('#empreMensaje').removeClass('alert-error');
								$('#empreMensaje').addClass('alert-success');
								$('#empreMensaje').removeClass('hide');
        			        } else {
								var mensaje = 'La empresa que intenta registrar ya ha sido registrada con anterioridad.';
								$('#txtEmpreMensaje').html(mensaje);
								$('#empreMensaje').removeClass('alert-success');
								$('#empreMensaje').addClass('alert-error');
								$('#empreMensaje').removeClass('hide');
							}
							$('#ajaxGifEmpresa').addClass('hide');
						},
						error:function() {
							alert('Error del Sistema, intentelo mas tarde.');
							$('#ajaxGifEmpresa').addClass('hide');
						}
					});
					return false;
				},
				errorPlacement: function(error, element){
					error.appendTo(element.prev("span").append());
				}
			});
		});
	</script>
{% endblock %}