{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section class="container" style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Empresa</h1>
	  
	  <form class="modificarPerfil" id="modificarPerfil" method="post" action="grabamodificacionEmpresa.php">
		  <fieldset>
			<legend>Edici&oacute;n de datos de Perf&iacute;l</legend>
			<p>
			  <label for="cuit">C.U.I.T.</label>
			  <input name="cuit" disabled="disabled" type="text" id="cuit" value="{{ empresa.cuit }}" />
			</p>
			<p>
			  <label for="nombre">Raz&oacute;n Social </label>
			  <input name="nombre" type="text" id="nombre" value="{{ empresa.nombre }}"  required class="{required:true, maxlength: 100, minlength: 4} span6"/>
			</p>
			<p>
			  <label for="domicilio">Domicilio</label>
			  <input id="domicilio" name="domicilio" type="text" value="{{ empresa.domicilio }}"  required class="{required:true, maxlength: 50, minlength: 4} span3"/>
			</p>
			<p>
			  <label for="localidad">Localidad</label>
			  <input id="localidad" type="text" name="localidad" value="{{ empresa.localidad }}" onchange="cleanProvincia()" required class="{required:true, maxlength: 50, minlength: 4} span3"/>
			</p>
			<p>
			<label for="provincia">Provincia</label>
				<select id="provincia" name="provincia" class="input-xlarge" required>	
				{% for provincia in provincias %}
					{% if provincia.codigo == empresa.provincia  %}
						<option value="{{ provincia.codigo }}" selected="selected">{{ provincia.descripcion }}</option>
					{% else %}
						<option value="{{ provincia.codigo }}">{{ provincia.descripcion }}</option>
					{% endif %}
				{% endfor %}			
				</select>
			</p>
			<p>
			  <label for="codpostal">C&oacute;digo Postal</label>
			  <input id="codpostal" type="text" name="codpostal" value="{{ empresa.codpostal }}" required class="{required:true, maxlength: 8, minlength: 4}"/>
			</p>
			<p>
			  <label for="telefono">Tel&eacute;fono</label>
			  <input id="telefono" type="text" name="telefono" value="{{ empresa.telefono }}" required class="{required:true, maxlength: 14, minlength: 6}"/>
			</p>
			<p>
			  <label for="email">Correo Electr&oacute;nico</label>
			  <input id="email" type="email" name="email" value="{{ empresa.email }}" required class="{required:true, , maxlength: 60} span3"/>
			</p>
			<p>
			  <label for="actividad">Actividad</label>
			  <input id="actividad" type="text" name="actividad" value="{{ empresa.actividad }}" required class="{required:true, maxlength: 60} span3"/>
			</p>
			<p>
			  <label for="rama">Rama</label>
			  <input name="rama" disabled="disabled" type="text" id="rama" value="{{ empresa.rama }}"/>
			</p>
			<p>
			  <label for="inicio">Inicio de Actividad</label>
			  <input id="inicio" type="date" name="inicio" value="{{ empresa.inicio }}" class="{required:true}"/>
			</p>
			<p>
				<button id="guardar" name="guardar" type="submit" class="btn btn-primary">Guardar</button>
			</p>
		  </fieldset>
	</form>
	</div>
</section>
{% block javaScripts %}
	<script>
		function cleanProvincia(){ 
			document.forms.modificarPerfil.provincia[0].selected = true;
		}
	
		$("#modificarPerfil").validate({ 
			submitHandler: function() { 
							//var strForm = document.forms.modificarPerfil.provincia[document.forms.modificarPerfil.selectedIndex].value;
							alert("DASJI");
							}
		});	
	</script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
{% endblock %}	

{% endblock %}
