{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Empresa</h1>
	 </div>
	 <div class="hero-unit">
	  <form class="modificarPerfil" id="modificarPerfil" method="post" action="grabamodificacionEmpresa.php">
		  <fieldset>
			<legend>Edici&oacute;n de datos de Perf&iacute;l</legend>
			<p>
			  <label for="cuit">C.U.I.T.</label>
			  <input name="cuit" disabled="disabled" type="text" id="cuit" value="{{ empresa.cuit }}" />
			</p>
			<p>
			  <label for="nombre">Raz&oacute;n Social </label>
			  <span></span>
			  <input name="nombre" type="text" id="nombre" value="{{ empresa.nombre }}" class="{required:true, maxlength: 100, minlength: 4} span6"/>
			</p>
			<p>
			  <label for="domicilio">Domicilio</label>
			  <span></span>
			  <input id="domicilio" name="domicilio" type="text" value="{{ empresa.domicilio }}"  class="{required:true, maxlength: 50, minlength: 4} span3"/>
			</p>
			<p>
			  <label for="localidad">Localidad</label>
			  <span></span>
			  <input id="localidad" type="text" name="localidad" value="{{ empresa.localidad }}" onchange="cleanProvincia()" class="{required:true, maxlength: 50, minlength: 4} span3"/>
			</p>
			<p>
			<label for="provincia">Provincia</label>
			<span></span>
				<select id="provincia" name="provincia" class="input-xlarge {required:true}">	
				{% for provincia in provincias %}
					{% if provincia.codigo == empresa.provincia  %}
						<option value="{{ provincia.codigo }}" selected="selected">{{ provincia.descripcion }}</option>
					{% else %}
						<option value="{{ provincia.codigo }}">{{ provincia.descripcion }}</option>
					{% endif %}
				{% endfor %}			
				</select>
			</p>
			<p>
			  <label for="codpostal">C&oacute;digo Postal</label>
			  <span></span>
			  <input id="codpostal" type="text" name="codpostal" value="{{ empresa.codpostal }}" class="{required:true, maxlength: 8, minlength: 4}"/>
			</p>
			<p>
			  <label for="telefono">Tel&eacute;fono</label>
			  <span></span>
			  <input id="telefono" type="text" name="telefono" value="{{ empresa.telefono }}" class="{required:true, maxlength: 14, minlength: 6}"/>
			</p>
			<p>
			  <label for="email">Correo Electr&oacute;nico</label>
			  <span></span>
			  <input id="email" type="email" name="email" value="{{ empresa.email }}" class="{required:true, maxlength: 60} span3"/>
			</p>
			<p>
			  <label for="actividad">Actividad</label> 
			  <span></span>
				<select id="actividad" name="actividad" class="input-xlarge {required:true}">	
				{% for actividad in actividades %}
					{% if actividad.descripcion ==  empresa.actividad  %}
						<option value="{{ actividad.descripcion }}" selected="selected">{{ actividad.descripcion }}</option>
					{% else %}
						<option value="{{ actividad.descripcion }}">{{ actividad.descripcion }}</option>
					{% endif %}
				{% endfor %}			
				</select>
			</p>
			<p>
			  <label for="rama">Rama</label>
			  <span></span>
			  <input name="rama" disabled="disabled" type="text" id="rama" value="{{ empresa.rama }}"/>
			</p>
			<p>
			  <label for="inicio">Inicio de Actividad</label>
			  <span></span>
			  <input id="inicio" disabled="disabled" type="text" name="inicio" value="{{ empresa.inicio }}" placeholder="(DD/MM/AAAA)"/>
			</p>
			<p>
				<button id="guardar" name="guardar" type="submit" class="btn btn-primary">Guardar</button>
			</p>
		  </fieldset>
	</form>
	</div>
</section>

{% endblock %}

{% block javaScripts %}
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
	<script type="text/javascript" src="lib/js/funcionControl.js"></script>
	<script>
		function cleanProvincia(){ 
			document.forms.modificarPerfil.provincia[0].selected = true;
		}
		
		$.validator.addMethod("esfechavalida", esFechaValida);
		$.validator.addMethod("esfechapasada", esFechaPasada);

		$(function(){
			//Valido el formulario de edicion de empresa
			$('#modificarPerfil').validate({
				rules: {
            		inicio: { esfechavalida: true, required: true,  esfechapasada: true}
        		},
				messages: {
            		inicio: 'Introduzca una fecha valida y no futura'
        		},
				
				submitHandler: function(){
					form.submit();  
				},
				errorPlacement: function(error, element){
					error.appendTo(element.prev("span").append());
				}
			});
		});
	</script>
{% endblock %}	