{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Familiar</h1>
	  <form class="modificarPerfil" id="modificarPerfil" method="post" action="grabamodificacionFamiliar.php?cuil={{ familiar.cuil }}&id={{ familiar.id }}">
		  <fieldset>
			<legend>Datos del titular </legend>
			<legend> C.U.I.L.: {{ familiar.cuil }}<br> Apellido y Nombre: {{ titular.apellido }}, {{ titular.nombre }} </legend>
			<legend>Edici&oacute;n de datos </legend>
			<p>
			  <label for="apellido">Apellido</label>
			  <input name="apellido" type="text" id="apellido" value="{{ familiar.apellido }}" class="{required:true, maxlength: 50, minlength: 4} span4"/>
			</p>
			<p>
			  <label for="nombre">Nombre</label>
			  <input name="nombre" type="text" id="nombre" value="{{ familiar.nombre }}" class="{required:true, maxlength: 50, minlength: 4} span4"/>
			</p>
			<p>
			  <label for="codpar">Parentesco</label>
			 <select id="codpar" name="codpar" class="input-xlarge {required:true}">	
				{% for codpar in parentescos %}
					{% if familiar.codpar == codpar.descri  %}
						<option value="{{ codpar.codigo }}" selected>{{ codpar.descri }}</option>
					{%  else  %}
						<option value="{{ codpar.codigo }}">{{ codpar.descri }}</option>
					{% endif %}
				{% endfor %}			
			  </select>
			</p>
			<p>
			<label for="sexo">Sexo</label>
					{% if familiar.sexo == 'MASCULINO' %}
				<label class="radio"><input type="radio" name="sexo" id="maculino" value="MASCULINO" checked> MASCULINO </label>
				<label class="radio"><input type="radio" name="sexo" id="femenino" value="FEMENINO"> FEMENINO </label>
					{%  else  %}
				<label class="radio"><input type="radio" name="sexo" id="maculino" value="MASCULINO"> MASCULINO </label>
				<label class="radio"><input type="radio" name="sexo" id="femenino" value="FEMENINO" checked> FEMENINO </label>
				   {% endif %}
			</p>
			<p>
			  <label for="nacimiento">Fecha de Nacimiento</label>
			  <input id="nacimiento" type="text" name="nacimiento" value="{{ familiar.fecnac }}" placeholder="(DD/MM/AAAA)"/>
			</p>
			<p>
			  <label for="ingreso">Fecha de Ingreso</label>
			  <input id="ingreso" type="text" name="ingreso" value="{{ familiar.fecing }}" placeholder="(DD/MM/AAAA)"/>
			</p>
			<p>
			  <label for="tipdoc">Tipo de Documento</label>
			  <input name="tipdoc" type="text" id="tipdoc" value="{{ familiar.tipdoc }}" class="{required:true, maxlength: 5}"/> 
			</p>
			<p>
			  <label for="numdoc">N&uacute;mero de Documento</label>
			  <input name="numdoc" type="text" id="numdoc" value="{{ familiar.nrodoc }}" class="{number:true, required:true, maxlength: 9}"/>
			</p>
			<p>
			<label for="sexo">Beneficiario Seguro de Vida</label>
					{% if familiar.benefi == 'SI' %}
						<label class="radio"><input type="radio" name="activo" id="si" value="SI" checked> SI </label>
						<label class="radio"><input type="radio" name="activo" id="no" value="NO"> NO </label>
					{%  else  %}
						<label class="radio"><input type="radio" name="activo" id="si" value="SI"> SI </label>
						<label class="radio"><input type="radio" name="activo" id="no" value="NO" checked> NO </label>
				   {% endif %}
			</p>
			<p>
				<button id="guardar" name="guardar" type="submit" class="btn btn-primary">Guardar</button>
			</p>
		  </fieldset>
	</form>
	</div>
</section>

{% block javaScripts %}
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
	<script type="text/javascript" src="lib/js/funcionControl.js"></script>
	<script>
		
		$.validator.addMethod("esfechavalida", esFechaValida);
		$.validator.addMethod("esfechapasada", esFechaPasada);

		$(function(){
			//Valido el formulario de edicion de empresa
			$('#modificarPerfil').validate({
				rules: {
            		ingreso: { esfechavalida: true, required: true,  esfechapasada: true},
					nacimiento: { esfechavalida: true, required: true,  esfechapasada: true}
        		},
				messages: {
            		ingreso: 'Introduzca una fecha valida y no futura',
					nacimiento: 'Introduzca una fecha valida y no futura'
        		},
				
				submitHandler: function(){
					form.submit();  
				},
			});
		});
	</script>
{% endblock %}	

{% endblock %}
