{% extends 'default.html'%}
{% block contenidos %}
<section class="container" style="margin-top:50px">
  <div class="hero-unit">
	  <h1>Versi&oacute;n de Navegador no soportada</h1>		 
	  <h2>Navegadores aceptados</h2>
	  <p><img src="img/ie.png"/>Internet Explorer 9 en adelante</p>
	  <p><img src="img/mozilla.png"/>Mozilla Firefox</p>
	  <p><img src="img/chrome.png"/>Google Chrome</p>
	  <p><img src="img/safari.png"/>Safari</p>
	  <p><img src="img/opera.png"/>Opera</p>
  </div>
</section>
{% endblock %}