{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Nueva DDJJ</h1>
  </div>
	 <div class="hero-unit" style="font-size:14px">
		<form id="nuevaDDJJ" name="nuevaDDJJ" method="post" action="grabarnuevaDDJJ.php?activo={{activos|length}}&baja={{baja|length}}">
			<legend> Seleccione Periodo a Declarar </legend>
			<table width="1000" border="0">
              <tr>
                <td width="200"><label for="anio">A&ntilde;o</label>
				   <span></span> 	
				  <select id="anio" name="anio" class="{required:true}" onchange="ComponerLista(document.forms.nuevaDDJJ.anio[selectedIndex].value);">	
					{% for anio in anios %}
						<option value="{{ anio.codigo }}">{{ anio.anio }}</option>
					{% endfor %}			
                  </select> 
			   </td>
                <td width="200"><label for="mes">Mes</label>
                	<span></span>
                  <select id="mes" name="mes" class="{required:true}" >
                    <option value="">Seleccionar</option>
                  </select>
				 </td>
				 <td width="600"><span id="mensajeNoRem"></span></td>
              </tr>
            </table>
			
			<legend> Remuneraci&oacute;n Empleados </legend>
			<legend style="color:#339900">Activos ({{ activos|length }})</legend>
			<table id="activos" class="table table-striped table-condensed">
			  <thead>
				<tr>
				  <th><div align="center">CUIL</div></th>
				  <th><div align="center">Apellido y Nombre</div></th>
				  <th><div align="center">Documento</div></th>
				  <th><div align="center">Remuneracion</div></th>
				  <th id="thalicuota" class="hide"><div align="center">Alicuota</div></th>
				  <th><div align="center">Art.32 <br /> 
				  0,6%</div></th>
				  <th><div align="center">Art.32 <br /> 
				  bis 1%</div></th>
				  <th><div align="center">Art.32 <br /> 
				  bis 1,5%</div></th>
				  <th><div align="center">Total</div></th>
				</tr>
			  </thead>
			   <tbody>					
				{% for activo in activos %}
					<tr>
						<td><input type="text" style="width: 80px; text-align:right" id="activo{{activo.nrcuil}}" name="activo{{activo.nrcuil}}" value="{{activo.nrcuil}}" readonly/></td>
						<td>{{ activo.apeynombre }}</td>
						<td>{{ activo.tipoydoc }}</td>
						<td>
							<span></span>
							<input type="text" id="remu{{activo.nrcuil}}" name="remu{{activo.nrcuil}}" value="{{activo.remune}}" class="{number:true, required:true} span2" onchange="CalcularPorcentajes(this.value, {{activo.nrcuil}});"/>
						</td>
						<td class="hide" id="alicTd{{activo.nrcuil}}">
							<input type="text" id="alic{{activo.nrcuil}}" style="text-align:right" name="alic{{activo.nrcuil}}" value="0.00" class="span1" readonly/>
						</td>
						<td><input type="text" id="por6{{activo.nrcuil}}" style="text-align:right" name="por6{{activo.nrcuil}}" class="span1" readonly/></td>
						<td><input type="text" id="por1{{activo.nrcuil}}" style="text-align:right" name="por1{{activo.nrcuil}}" class="span1" readonly/></td>
						<td><input type="text" id="por15{{activo.nrcuil}}" style="text-align:right" name="por15{{activo.nrcuil}}" class="span1" readonly/></td>
						<td><input type="text" id="totemp{{activo.nrcuil}}" style="text-align:right"name="totemp{{activo.nrcuil}}" class="span1" readonly/></td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td></td>
					<td valign="bottom"><div align="right"><strong>Totales</strong></div></td>
					<td><input type="text" id="totrem" style="text-align:right" name="totrem" class="span2" readonly/></td>
					<td class="hide" id="tdtotalic"><input type="text" id="totalic" style="text-align:right" name="totalic" class="span1" readonly/></td>
					<td><input type="text" id="tot6" style="text-align:right" name="tot6" class="span1" readonly/></td>
					<td><input type="text" id="tot1" style="text-align:right" name="tot1" class="span1" readonly/></td>
					<td><input type="text" id="tot15" style="text-align:right" name="tot15" class="span1" readonly/></td>
					<td><input type="text" id="total" style="text-align:right" name="total" class="span1" readonly/></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td valign="bottom"><div align="right"><strong>Recargo</strong></div></td>
					<td colspan="4"><input type="text" id="motRec" name="motRec" class="span5" placeholder="Motivo del Recargo" /></td>
					<td><span></span><input type="text" id="recargo" name="recargo" placeholder="Importe" class="{number:true} span1" onchange="recalcularTotal();"/></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td id="totalgeneral" class="hide"></td>
					<td valign="bottom"><div align="right"><strong>Total</strong></div></td>
					<td><span id="errorTotal"></span><input type="text" id="totalGeneral" name="totalGeneral" style="text-align:right" class="span1" readonly/></td>
				</tr>
			   </tbody>	
	  		</table>
			
			
			<legend style="color:#FF0000">Inactivos ({{ baja|length }})</legend>
			{% if baja|length > 0 %} 
			<table id="inactivos" class="table table-striped">
			  <thead>
				<tr>
				  <th><div align="center">CUIL</div></th>
				  <th><div align="center">Apellido y Nombre</div></th>
				  <th><div align="center">Documento</div></th>
				  <th><div align="center">Motivo de Inactividad</div></th>
				</tr>
			  </thead>
			   <tbody>	
				{% for ba in baja %}
					<tr>
					  <td><input type="text" id="baja{{ba.nrcuil}}" style="width: 80px; text-align:right" name="baja{{ba.nrcuil}}" value="{{ ba.nrcuil }}" readonly/></td>
					  <td>{{ ba.apeynombre }}</td>
					  <td>{{ ba.tipoydoc }}</td>
					  <td><input type="text" id="motivo{{ba.nrcuil}}" name="motivo{{ba.nrcuil}}" value="{{ba.motivo}}" class="span6"/></td>
					</tr>
				{% endfor %}
			   </tbody>	
	  		</table>
			{% else %}
				<h4> No hay empleados de inactivos en esta declaraci&oacute;n jurada </h4>
			{% endif %}
	  <p><button id="modificar" name="modificar" type="submit" class="btn btn-primary">Grabar Nueva DDJJ</button></p>
	  </form>
	</div>
</section>
{% endblock %}
{% block cssPropios %}
	<link rel="stylesheet" href="css/tablesorter/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
{% endblock %}
{% block javaScripts %}
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
	<script type="text/javascript" src="lib/js/jquery-tablesorter/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="lib/js/jquery-tablesorter/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/funcionControl.js"></script>
	<script type="text/javascript" src="lib/js/jquery/jquery.blockUI.js"></script>
	<script>
		var minimoBoleta = 50;

		function MsgWait() {
			$.blockUI({ message: "<h1>Grabando Nueva DDJJ <br> Puede demorar unos minutos.</h1>" });
			return true;
		}
		
		function llamadoCalcularPorcentaje() {
			{% for activo in activos %}
				var cuil = "{{activo.nrcuil}}";
				nombreRemu = "remu"+cuil;
				document.getElementById(nombreRemu).readOnly = false;
				remune = document.getElementById(nombreRemu).value;
				CalcularPorcentajes(remune, cuil);
			{% endfor %}
		}
		
		function CalcularPorcentajes(remu, cuil){ 
			por6 = (remu * 0.006).toFixed(2);
			por1 = (remu * 0.01).toFixed(2);
			por15 = (remu * 0.015).toFixed(2);		
			var totemp = (parseFloat(por6) + parseFloat(por1) + parseFloat(por15)).toFixed(2);
			var nombrePor6 = "por6"+cuil;
			var nombrePor1 = "por1"+cuil;
			var nombrePor15 = "por15"+cuil;
			var nombreTotEmp = "totemp"+cuil;
			document.getElementById(nombrePor6).value = por6;
			document.getElementById(nombrePor1).value = por1;
			document.getElementById(nombrePor15).value = por15;
			document.getElementById(nombreTotEmp).value = totemp;	
			recalcularSubTotales();
			recalcularTotal();
		}
		
		function recalcularSubTotales(){
			var nombreRemu;
			var nombrePor6;
			var nombrePor1;
			var nombrePor15;
			var nombreTotEmp;
			var totPor6 = 0; 
			var totPor1 = 0;  
			var totPor15 = 0; 
			var totEmp = 0;
			var totRem = 0;
			
			{% for activo in activos %}
				var cuil = "{{activo.nrcuil}}";
				nombreRemu = "remu"+cuil;
				nombrePor6 = "por6"+cuil;
				nombrePor1 = "por1"+cuil;
				nombrePor15 = "por15"+cuil;
				nombreTotEmp = "totemp"+cuil;
				
				var remu = document.getElementById(nombreRemu).value;
				if (remu != "") {
					totRem = (parseFloat(totRem) + parseFloat(remu)).toFixed(2);
				}
				
				var por6 = document.getElementById(nombrePor6).value;
				if (por6 != "") {
					totPor6 = (parseFloat(totPor6) + parseFloat(por6)).toFixed(2);
				}
				
				var por1 = document.getElementById(nombrePor1).value;
				if (por1 != "") {
					totPor1 = (parseFloat(totPor1) + parseFloat(por1)).toFixed(2);
				}
				
				var por15 = document.getElementById(nombrePor15).value;
				if (por15 != "") {
					totPor15 = (parseFloat(totPor15) + parseFloat(por15)).toFixed(2);
				}
				
				var emple = document.getElementById(nombreTotEmp).value;
				if (emple != "") {
					totEmp = (parseFloat(totEmp) + parseFloat(emple)).toFixed(2);
				}
				
			{% endfor %}
			document.getElementById("totrem").value = totRem;		
			document.getElementById("tot6").value = totPor6;	
			document.getElementById("tot1").value = totPor1;
			document.getElementById("tot15").value = totPor15;
			document.getElementById("total").value = totEmp;
		}
		
		function recalcularTotal(){
			document.getElementById("errorTotal").innerHTML = '';
			var total = document.getElementById("total").value;
			var recargo = document.getElementById("recargo").value;
			if (recargo == "") {
				recargo = 0;
			}
			var totalGeneral = (parseFloat(total) + parseFloat(recargo)).toFixed(2);
			document.getElementById("totalGeneral").value = totalGeneral;
		}
		
		function superaMinimoBoleta(total) {
			if (parseFloat(total) < parseFloat(minimoBoleta)) {
				return false;
			}
			return true;
		}
	
		$.validator.addMethod("superaminimo", superaMinimoBoleta);
		$(function(){
			llamadoCalcularPorcentaje();		
			$('#nuevaDDJJ').validate({
				rules: {
            		totalGeneral: { superaminimo: true, required: true},
        		},
				messages: {
            		totalGeneral: 'El total no supera el minimo estipulado para este periodo',
        		},
				submitHandler: function(){
					MsgWait();
					form.submit();  
				},
				errorPlacement: function(error, element){
					error.appendTo(element.prev("span").append());
				}
			});
		});
		
		function ComponerLista(anio) {
			document.forms.nuevaDDJJ.anio.disabled = true;
			document.forms.nuevaDDJJ.mes.length = 0;			
			cargarPeriodos(anio);
		}
		
		function cargarPeriodos(anio) {
			var o
			document.forms.nuevaDDJJ.mes.disabled=true;
			o = document.createElement("OPTION");
			o.text = 'Seleccionar';
			o.value = '';
			document.forms.nuevaDDJJ.mes.options.add(o);			
			{% for mes in meses %}
				if ((anio == "{{ mes.anio }}") && ("{{ mes.mes }}" <= 12)) {
					o = document.createElement("OPTION");
					o.text = "{{ mes.descrip }}";
					o.value = "{{ mes.mes }}";
					document.forms.nuevaDDJJ.mes.options.add(o);	
				}
			{% endfor %}
			document.forms.nuevaDDJJ.mes.disabled=false;
			document.forms.nuevaDDJJ.anio.disabled=false;
			formReset(0);
		}
			
	</script>
{% endblock %}	