{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Empresa</h1>
	 </div>
	 <div class="hero-unit">
		  <fieldset>
			<table width="989" border="0" class="table">
              <tr>
                <td width="650"><label for="cuit">C.U.I.T.</label>{{ empresa.cuit }}</td>
				 <td></td>
              </tr>
              <tr>
                <td><label for="nombre">Raz&oacute;n Social </label>{{ empresa.nombre }}</td>
                <td><label for="domicilio">Domicilio</label>{{ empresa.domicilio }}  </td>
              </tr>
              <tr>
                <td><label for="localidad">Localidad</label>{{ empresa.localidad }}</td>
                <td><label for="provincia">Provincia</label>{{ empresa.provincia }}</td>
              </tr>
              <tr>
                <td><label for="codpostal">C&oacute;digo Postal</label>{{ empresa.codpostal }}</td>
                <td><label for="telefono">Tel&eacute;fono</label>{{ empresa.telefono }}</td>
              </tr>
              <tr>
                <td><label for="email">Correo Electr&oacute;nico</label>{{ empresa.email }}</td>
                <td><label for="actividad">Actividad</label>{{ empresa.actividad }} </td>
              </tr>
              <tr>
                <td><label for="rama">Rama</label>{{ empresa.rama }}</td>
                <td><label for="inicio">Inicio de Actividad</label>{{ empresa.inicio }}</td>
              </tr>
            </table>
			<p>
				<button id="editar" name="editar" class="btn btn-primary" onclick="location.href='modificarPerfilEmpresa.php'">Editar</button>
			</p>
		  </fieldset>
	</div>
</section>
{% endblock %}
