{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section>
  <ul class="breadcrumb">
    <li>Perfil Empresa</li>
  </ul>
</section>
<div class="hero-unit">
  <h1>Empresa</h1>
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Edici&oacute;n Perfil Empresa</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">C.U.I.T.</label>
  <div class="controls">
    <input id="cuit" name="cuit" type="text" placeholder="" class="input-xlarge" required="">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label">Raz&oacute;n Social</label>
  <div class="controls">
    <input id="nombre" name="nombre" type="text" placeholder="" class="input-xlarge" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label">Provincia</label>
  <div class="controls">
    <select id="provincia" name="provincia" class="input-xlarge">
    </select>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label"></label>
  <div class="controls">
    <button id="guardar" name="guardar" class="btn btn-primary">Guardar</button>
  </div>
</div>

</fieldset>
</form>
</div>
{% endblock %}