{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
<section class="container" style="margin-top:50px">
	<div class="hero-unit">
	  <h1>Empresa</h1>
		  <fieldset>
			<legend> Perf&iacute;l</legend>
			<table width="1194" border="0">
              <tr>
                <td width="586"><label for="cuit">C.U.I.T.</label>{{ empresa.cuit }}</td>
                <td width="592"><label for="nombre"></label></td>
              </tr>
              <tr>
                <td><label for="nombre">Raz&oacute;n Social </label>{{ empresa.nombre }}
					<label for="domicilio"></label></td>
                <td><label for="domicilio">Domicilio</label>{{ empresa.domicilio }}  
					<label for="localidad"></label></td>
              </tr>
              <tr>
                <td><label for="localidad">Localidad</label>
{{ empresa.localidad }}
<label for="provincia"></label></td>
                <td><label for="provincia">Provincia</label>
{{ empresa.provincia }}
<label for="codpostal"></label></td>
              </tr>
              <tr>
                <td><label for="codpostal">C&oacute;digo Postal</label>
{{ empresa.codpostal }}
<label for="telefono"></label></td>
                <td><label for="telefono">Tel&eacute;fono</label>
{{ empresa.telefono }}
<label for="email"></label></td>
              </tr>
              <tr>
                <td><label for="email">Correo Electr&oacute;nico</label>
{{ empresa.email }}
<label for="actividad"></label></td>
                <td><label for="actividad">Actividad</label>
{{ empresa.actividad }} </td>
              </tr>
              <tr>
                <td><label for="inicio"></label>
                  <label for="rama">Rama</label>
{{ empresa.rama }}
<label for="actividad"></label></td>
                <td><label for="inicio">Inicio de Actividad</label>
{{ empresa.inicio }}
  <label for="actividad"></label>  <label for="rama"></label></td>
              </tr>
            </table>
			<p>
				<button id="editar" name="editar" class="btn btn-primary" onclick="location.href='modificarPerfilEmpresa.php'">Editar</button>
			</p>
		  </fieldset>
	</div>
</section>
{% block javaScripts %}
	<script>
		$("#modificarPerfil").validate();	
	</script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.metadata.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery-validation-1.10.0/localization/messages_es.js"></script>
{% endblock %}	

{% endblock %}
