{# Heredando la plantilla principal #}

{% extends 'default.html' %}
{% use 'navegacion.html' %}
{% use 'loginUsuario.html' %}

{% block contenidos %}
		<section class="container" style="margin-top:50px">
			<div class="hero-unit">
				<h1>No tiene autorizaci&oacute;n</h1>
				<p>Debe pedir acceso a esta secci&oacute;n al departamento de sistemas de U.S.I.M.R.A.</p>
				<p>Para mas informaci&oacute;n acerca de las capacidades de este m&oacute;dulo puede consultar el manual en l&iacute;nea ubicado en la secci&oacute;n Inicio de este aplicativo</p>
			</div>
		</section>
{% endblock %}